<!DOCTYPE html>
<ion-view view-title="Editar dados do Perfil">
    <ion-header-bar class="bar bar-header bar-positive">
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
          
            <label class="item item-input">
                <span class="input-label">Instrumentos</span>
                <input ng-model="creds.instrumentos" type="text">
            </label>
          
            <button class="button button-full button-positive" ng-click="mudarInstrumento(creds)">Salvar</button>
        </div>
            
            <button class="button button-full button-positive" ng-click="voltar()">Voltar</button>
        
    </ion-content>
</ion-view>