<ion-view hasHeader view-title="Search">
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
         <label class="item-input-wrapper">
          <input type="search" placeholder="Filter contact..." ng-model="search"/>
        </label>
         <button ng-if="search.length" class="button button-icon ion-android-close input-button" ng-click="clearSearch()">
      </button>
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap" type="item-text-wrap" collection-repeat="item in contacts|orderBy:'nome'|filter:search" no item e ng-model="search.nome" href="#/tab/timeline/{{item.id}}">
        <img ng-src="{{item.foto}}">
  
        <h2>{{item.nome}}</h2>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
